In [5]:
# Import the Python Libraries
# CODE FOR EXTRACTING API AND WRITING JSON TO FILE
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Collecting the Data
response = requests.get("https://data.ny.gov/resource/thd2-fu8y.json?$limit=36000")
#print(response.status_code)
json1 = response.json()
#print(json1)
with open('data.json', 'w') as outfile:
    json.dump(json1, outfile)
df = pd.read_json('data.json')
df.head()

,data_through_date,submitted_date,make,model,zip,ev_type,transaction_type,annual_ghg_emissions,annual_petroleum_reductions,rebate_amount_usd,county
0,2021-02-28T00:00:00.000,2020-10-08T00:00:00.000,Tesla,Model 3,10549,BEV,Purchase,2.99,592.89,2000,NaN
1,2021-02-28T00:00:00.000,2020-10-09T00:00:00.000,Nissan,LEAF,14623,BEV,Lease,2.91,592.89,2000,NaN
2,2021-02-28T00:00:00.000,2020-10-14T00:00:00.000,Tesla,Model X,10956,BEV,Purchase,2.52,592.89,500,NaN
3,2021-02-28T00:00:00.000,2020-10-21T00:00:00.000,Tesla,Model X,11747,BEV,Lease,2.52,592.89,500,NaN
4,2021-02-28T00:00:00.000,2020-10-21T00:00:00.000,Tesla,Model Y,10014,BEV,Purchase,3.07,592.89,2000,NaN

In [6]:
#Connect to MongoDB Cloud Server and Inserting data
from pymongo import MongoClient
#client=MongoClient("ster0-a5a87.mongodb.netmongodb+srv://gopi:Ireland%27017@clu/test?retryWrites=true&w=majority")

    
client = MongoClient('localhost',27017)

db = client['gopi_db']
collection = db['raw_data_collection']
db=client.get_database('gopi_db')
db
records=db.electronic
records.insert_many(df.to_dict('records'))

In [7]:
# shape of the data
print(df.shape)

(36000, 11)

In [11]:
# preview dataset
print(df.head())

         data_through_date           submitted_date    make    model    zip  \
0  2021-02-28T00:00:00.000  2020-10-08T00:00:00.000   Tesla  Model 3  10549
1  2021-02-28T00:00:00.000  2020-10-09T00:00:00.000  Nissan     LEAF  14623
2  2021-02-28T00:00:00.000  2020-10-14T00:00:00.000   Tesla  Model X  10956
3  2021-02-28T00:00:00.000  2020-10-21T00:00:00.000   Tesla  Model X  11747
4  2021-02-28T00:00:00.000  2020-10-21T00:00:00.000   Tesla  Model Y  10014

  ev_type transaction_type  annual_ghg_emissions  annual_petroleum_reductions  \
0     BEV         Purchase                  2.99                       592.89
1     BEV            Lease                  2.91                       592.89
2     BEV         Purchase                  2.52                       592.89
3     BEV            Lease                  2.52                       592.89
4     BEV         Purchase                  3.07                       592.89

   rebate_amount_usd county
0               2000    NaN
1               2000    NaN
2                500    NaN
3                500    NaN
4               2000    NaN

In [8]:
# view column names
print(df.columns)

Index(['data_through_date', 'submitted_date', 'make', 'model', 'zip',
       'ev_type', 'transaction_type', 'annual_ghg_emissions',
       'annual_petroleum_reductions', 'rebate_amount_usd', 'county'],
      dtype='object')

In [9]:
# view dataframe summary
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36000 entries, 0 to 35999
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   data_through_date            36000 non-null  object
 1   submitted_date               36000 non-null  object
 2   make                         36000 non-null  object
 3   model                        36000 non-null  object
 4   zip                          36000 non-null  int64
 5   ev_type                      36000 non-null  object
 6   transaction_type             36000 non-null  object
 7   annual_ghg_emissions         36000 non-null  float64
 8   annual_petroleum_reductions  36000 non-null  float64
 9   rebate_amount_usd            36000 non-null  int64
 10  county                       35978 non-null  object
dtypes: float64(2), int64(2), object(7)
memory usage: 3.0+ MB
None

In [10]:
print('Number of Categorical Columns: ', len(df.select_dtypes(include=object).columns))
print('Number of Numerical Columns: ', len(df.select_dtypes(exclude=object).columns))

Number of Categorical Columns:  7
Number of Numerical Columns:  4

In [12]:
# check for missing values
print(df.isnull().sum())

data_through_date               0
submitted_date                  0
make                            0
model                           0
zip                             0
ev_type                         0
transaction_type                0
annual_ghg_emissions            0
annual_petroleum_reductions     0
rebate_amount_usd               0
county                         22
dtype: int64

In [13]:
# Drop 22 missing values for categorical variables for proper data visualization
df = df.dropna()

In [14]:
# view dataframe summary after filling missing values
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35978 entries, 22 to 35999
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   data_through_date            35978 non-null  object
 1   submitted_date               35978 non-null  object
 2   make                         35978 non-null  object
 3   model                        35978 non-null  object
 4   zip                          35978 non-null  int64
 5   ev_type                      35978 non-null  object
 6   transaction_type             35978 non-null  object
 7   annual_ghg_emissions         35978 non-null  float64
 8   annual_petroleum_reductions  35978 non-null  float64
 9   rebate_amount_usd            35978 non-null  int64
 10  county                       35978 non-null  object
dtypes: float64(2), int64(2), object(7)
memory usage: 3.3+ MB
None

In [15]:
# check for missing values after filling missing values
print(df.isnull().sum())

data_through_date              0
submitted_date                 0
make                           0
model                          0
zip                            0
ev_type                        0
transaction_type               0
annual_ghg_emissions           0
annual_petroleum_reductions    0
rebate_amount_usd              0
county                         0
dtype: int64

In [26]:
print(df['Data through Date'].unique())
print(df['Submitted Date'].unique())
print(df['Make'].unique())
print(df['Model'].unique())
print(df['County'].unique())
print(df['EV Type'].unique())
print(df['Transaction Type'].unique())

KeyError: 'Data through Date'

In [18]:
df.to_csv('electric_vehicle_rebate.csv', index=False, header=True)

In [ ]:
#Create table

try:
    dbConnection = psycopg2.connect(
        user = "postgres",
        password = "lightyear",
        host = "localhost",
        port = "5432",
        database = "dapgroupm")
    dbConnection.set_isolation_level(0) # AUTOCOMMIT
    dbCursor = dbConnection.cursor()
    dbCursor.execute("""
         CREATE TABLE rebate(
        Data through Date varchar(255),
        Submitted Date varchar(255),
        Make varchar(255),
        Model varchar(255),
        County varchar(255)
        ZIP int,
        EV Type varchar(255),
        Transaction Type varchar(255),
        Annual GHG Emissions Reductions (MT CO2e) float,
        Annual Petroleum Reductions (gallons) float,
        Rebate Amount (USD) int
        );
    """)
except (Exception , psycopg2.Error) as dbError :
    print ("Error while connecting to PostgreSQL", dbError)
finally:
    if(dbConnection): dbConnection.close()

In [ ]:
import csv
try:
    dbConnection = psycopg2.connect(
        user = "postgres",
        password = "lightyear",
        host = "localhost",
        port = "5432",
        database = "dapgroupm")
    dbConnection.set_isolation_level(0) # AUTOCOMMIT
    dbCursor = dbConnection.cursor()
    with open('electric_vehicle_rebate.csv', 'r') as f:
        reader = csv.reader(f)
        next(reader) # skip the header
        for row in reader:
            dbCursor.execute("INSERT INTO rebate VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)",row)
    dbConnection.commit()
    dbCursor.close()
except (Exception , psycopg2.Error) as dbError :
    print ("Error:", dbError)
finally:
    if(dbConnection): dbConnection.close()